@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;0,800;1,400;1,600&display=swap');

/* main page container */
.mainContainer { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* main query to handle grid layout on mobile */
@media only screen and (max-width: 768px) {
  .mainContainer {
    grid-template-columns: auto;
  }
}

/* Star Wars Logo */
.logo { 
  justify-content: flex-start;
  margin-left: 4rem;
  margin-top: 2rem;
}
/* Logo  media query for mobile */
@media only screen and (max-width: 768px) {
  .logo {
    height: 50px;
    width: 100px;
    margin-left: 2rem;
  }
}
/* Logo  media query for tablet */
@media only screen and (max-width: 992px) {
  .logo {
    height: 110px;
    width: 160px;
  }
}


/* Page Title ("Explore the Galaxies") */
.pageTitle { 
  font-size: 60px;
  letter-spacing: 6px;
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin-top: 18rem;
  margin-left: 4rem;
}

/* Title media query for mobile view */
@media only screen and (max-width: 768px) {
  .pageTitle {
    font-size: 28px; 
    margin-top: 4rem;
    margin-left: 2rem;
  }
}
/* Title media query for small laptop */
@media only screen and (max-width: 1640px) {
  .pageTitle {
    font-size: 50px; 
  }
}

/* Search Field */
.searchContainer { 
  width: 100%;
  margin-left: 4rem;
}

.searchInput { 
  width: 50rem;
  height: 4rem;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.849);
}

/* targeting the "X" on the search bar */
.searchInput::-webkit-search-cancel-button{
  position:relative;
  right: 1rem;
  font-size: 25px;
}

/* hover and focus style when cursor moves over search bar */
.searchInput:hover, .searchInput:focus {
  border: 1px solid #009688;
  background-color: white;
  box-shadow: 0px 5px 40px 0px #6b6b6bde;
}

/* Search Field media query for mobile view */
@media only screen and (max-width: 768px) {
  .searchInput {
    width: 25rem;
    height: 4rem;
    font-size: 28px;
    margin-left: -2rem;
  }
}

/* Search Field query for small laptop */
@media only screen and (max-width: 1640px) {
  .searchInput {
    width: 38rem;
  }
}


