@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,600;0,800;1,400;1,600&display=swap');

/* main page container */
.mainContainer { 
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

/* Star Wars Logo */
.logo { 
  justify-content: flex-start;
  margin-left: 4rem;
  margin-top: 2rem;
}

/* Page Title ("Explore the Galaxies") */
.pageTitle { 
  font-size: 60px;
  letter-spacing: 6px;
  font-family: 'Exo 2', sans-serif;
  width: 100%;
  margin-top: 18rem;
  margin-left: 4rem;
}

/* Search Field */
.searchContainer { 
  width: 100%;
  margin-left: 4rem;
}

.searchInput { 
  width: 50rem;
  height: 4rem;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.849);
}

/* targeting the "X" on the search bar */
.searchInput::-webkit-search-cancel-button{
  position:relative;
  right: 1rem;
  font-size: 25px;
}

/* hover and focus style when cursor moves over search bar */
.searchInput:hover, .searchInput:focus {
  border: 1px solid #009688;
  background-color: white;
  box-shadow: 0px 5px 20px 0px #6b6b6bde;
}

/* media query for mobile phone landscape & portrait*/
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 812px) {
    .mainContainer {
      grid-template-columns: auto;
    }
    .logo {
      height: 50px;
      width: 160px;
      margin-left: 2.5rem;
    }
    .pageTitle {
      font-size: 51px; 
      margin-top: 12rem;
      margin-left: 2.5rem;
    }
    .searchInput {
      width: 25rem;
      height: 5rem;
      font-size: 28px;
      margin-left: -1.5rem;
    }
}

/* media query for tablets landscape & portrait */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .pageTitle {
      font-size: 65px; 
    }
    .searchInput {
      width: 47rem;
    }
}

/* media query for laptops */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 
    .pageTitle {
      font-size: 50px; 
    }
    .searchInput {
      width: 38rem;
    }
  }