/* @import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@600;800&display=swap'); */

.mainContainer { 
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 0fr;
  grid-gap: 20px;
}

/* main query to handle grid layout on mobile */
@media (max-width: 600px) {
  .mainContainer {
    grid-template-columns: auto;
  }
}

/* Site Title Image */
.logo { 
  display: grid;
  justify-content: flex-start;
  margin: 2rem;
}

/* Page Title */
.pageTitle { 
  display: grid;
  font-size: 60px;
  letter-spacing: 2px;
  /* font-family: 'Exo 2', sans-serif; */
  width: 100%;
  /* justify-content: center; */
  font-weight: 900;
  margin-top: 18rem;
  margin-left: 4rem;
}

/* Title media query for mobile view */
@media (max-width: 600px) {
  .pageTitle {
    font-size: 30px; 
    margin-top: 3rem;
    margin-left: 1rem;
  }
}

/* Search Field */
.searchContainer { 
  display: grid;
  /* justify-content: center; */
  width: 100%;
  margin-top: 20px;
  margin-left: 4rem;
}

.searchInput { 
  width: 50rem;
  height: 4rem;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.849);
}

.searchInput::-webkit-search-cancel-button{
  position:relative;
  right: 1rem;
}

/* hover and focus style when cursor moves over search bar */
.searchInput:hover, .searchInput:focus {
  border: 1px solid #009688;
  background-color: white;
}

/* Search Field media query for mobile view */
@media (max-width: 600px) {
  .searchInput {
    width: 17rem;
    height: 2rem;
    font-size: 20px;
    margin-left: -3rem;
  }
}

/* Profile Section (data results after Search) */

.listContainer { 
  display: grid;
  grid-gap: 5px;
  background-color: #424040ee;
  width: 30rem;
  /* justify-content: center; */
  /* margin: auto; */
  margin-top: 12rem;
  border-radius: 8px;
}

/* List Container media query for mobile */
@media (max-width: 600px) {
  .listContainer {
    width: 20rem;
  }
}

.listSection { 
  display: grid;
  grid-column: auto;
  max-width: 100%;
  font-size: 24px;
}

@media (max-width: 600px) {
  .listSection {
    font-size: 20px;
  }
}

.listTitle {
  border-bottom: 1px solid white;
}







/* template media query */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}