
/* Site Title Image */
.logo { 
  display: grid;
  justify-content: flex-start;
}

/* Page Title */
.pageTitle { 
  font-size: 60px;
}

/* Search Field */
.searchContainer { 
  display: grid;
  justify-content: flex;
  width: 100%;
  margin-top: 2rem;
}

.searchInput { 
  width: 30rem;
  height: 4rem;
  font-size: 30px;
  background-color: rgba(255, 255, 255, 0.849);
}

.searchInput::-webkit-search-cancel-button{
  position:relative;
  right: 1rem;
}

/* hover and focus style when cursor moves over search bar */
.searchInput:hover, .searchInput:focus {
  border: 1px solid #009688;
  background-color: white;
}

/* Search Field media query for mobile view */
@media (max-width: 600px) {
  .searchInput {
    width: 17rem;
    height: 2rem;
    font-size: 20px;
  }
}

/* Profile Section (data results after Search) */

.listContainer { 
  display: grid;
  background-color: #272727;
  width: 30rem;
  justify-content: center;
  margin: auto;
  margin-top: 2rem;
  border-radius: 8px;
}

/* List Container media query for mobile */
@media (max-width: 600px) {
  .listContainer {
    width: 20rem;
  }
}

.listSection { 
  display: grid;
  grid-column: auto;
  max-width: 100%;
  font-size: 24px;
}

@media (max-width: 600px) {
  .listSection {
    font-size: 20px;
  }
}

.listTitle {
  border-bottom: 1px solid white;
}







/* template media query */
@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}